---
import Layout from '../layouts/Layout.astro';
import TextImage from '../components/TextImage.astro';

import booksImage from '../assets/about-us/books.jpeg';
---

<Layout title="Chi siamo - Eco Ita" navPage="chi-siamo">
    <main>
        <section>
            <h2>Chi siamo</h2>
            <TextImage
            text="Siamo un gruppo appassionato di studenti che credono fermamente nell'importanza di ridurre lo spreco e promuovere uno stile di vita sostenibile. La nostra missione è ispirare e facilitare il riutilizzo intelligente dei prodotti per ridurre l'impatto ambientale e contribuire a un mondo più eco-sostenibile. Nel nostro sito troverete una vasta gamma di risorse, idee e informazioni su come riutilizzare gli oggetti nella vostra vita quotidiana."
            src={booksImage} alt="Libri" />
            <h2>Crediti</h2>
            <p>Abbiamo creato questo sito come parte del progetto di educazione civica sui prodotti made in italy creati a partire dagli scarti industriali. Purtroppo abbiamo avuto 3 ore in meno per lavorare, quindi il sito non è completamente finito e non è stato reso responsive (ovvero non funziona sui dispositivi mobili, ma solo sui computer o sui tablet grandi). Il codice è stato scritto interamente da noi. Le immagini sono state prese da internet. Alcune icone sono state prese gratuitamente da <a href="https://www.flaticon.com/" target="_blank" rel="noreferrer noopener">Flaticon</a>.</p>
            <p>Creato da Samuele Max, Davide Piaggi, Daniele Kim, Simone Kristo, Giuseppe Vaccaro, Tamer Qaddura e Federico Meda.</p>
        </section>
    </main>
</Layout>

<style>
	main {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: 850px;
		font-size: 1.2rem;
	}
    h2 {
        margin-bottom: 0;
    }
</style>
