---
const { src, alt, text } = Astro.props;

import { Image } from 'astro:assets';
---

<div>
    <Image src={src} alt={alt} />
    <p>{text}</p>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        text-align: center;
    }
    img {
        width: 75px;
        height: auto;
    }
</style>
