<header>
    <nav>
        <img src="/imgs/logo.png" alt="Logo" />
        <h1>Eco Ita</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
            <li><a href="/chi-siamo">Chi siamo</a></li>
        </ul>
    </nav>
</header>

<style>
    nav {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        height: 80px;
        background: linear-gradient(to right, #24b624, #90d825);
    }
    img {
        width: 50px;
        margin-right: 1rem;
    }
    ul {
        list-style: none;
    }
    li {
        display: inline;
        margin-right: 50px;
    }
    ul li a {
        color: black;
        text-decoration: none;
    }
</style>
