---
const { navPage } = Astro.props;

import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<header>
    <nav>
        <Image src={logo} alt="Logo" />
        <h1>Eco Ita</h1>
        <ul>
            <li><a class={navPage === "home" && "active"} href="/eco-ita">Home</a></li>
            <li><a class={navPage === "prodotti" && "active"} href="/eco-ita/prodotti">Prodotti</a></li>
            <li><a class={navPage === "chi-siamo" && "active"} href="/eco-ita/chi-siamo">Chi siamo</a></li>
        </ul>
    </nav>
</header>

<style>
    nav {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        height: 80px;
        background: #3CBE11;
    }
    img {
        width: 50px;
        height: auto;
        margin-right: 1rem;
    }
    ul {
        list-style: none;
        margin-left: 3rem;
    }
    li {
        display: inline;
        margin-right: 6rem;
    }
    ul li a {
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
    }
    ul li a.active {
        text-decoration: underline;
    }

    @media (max-width: 800px) {
        nav {
            padding: 0 0.5rem;
        }
        img {
            margin-right: 0.5rem;
        }
        ul {
            margin: 0 0 0 auto;
            text-align: right;
        }
        li {
            margin: 0;
            display: block;
        }
	}
</style>
