---
interface Props {
	title: string;
	navPage: string;
}

const { title, navPage } = Astro.props;

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sito vetrina per i prodotti dello scarto industriale made in italy" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
		<title>{title}</title>
	</head>
	<body>
		<Header navPage={navPage} />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: Lato;
	}
	body {
		margin: 0;
		padding: 0;
	}
</style>
